$font1: 'Vollkorn', serif;
$font2: 'Ultra', serif;
$font3: 'Roboto', sans-serif;

.row {
  margin-left: 0;
  margin-right: 0;
}

.card-hmg {
  height: 72mm;
  width: 42mm;
  padding: 0.25in 0.15in;
  background: #ffffff;
  border-style: dotted;
  border-width: 1px;
  border-color: black;
}

.first-name {
  font-size: 14px;
  font-weight: 900;
  font-family: $font1;
  line-height: 14px;
}

.last-name {
  font-family: $font2;
  font-size: 18px;
  line-height: 18px;
}

.tour {
  font-size: 11.5px;
  font-family: $font3;
  font-weight: 500;
  line-height: 24px;
  border-bottom-style: solid;
  border-bottom-color: black;
  border-bottom-width: 3px;
}

.skills-container {
  height: 0.8in;
  padding-top: 0.05in;
}

.skills-container-2 {
  height: 0.5in;
}

.skills-title {
  font-family: $font3;
  font-size: 12px;
  font-weight: 400;
}

.skills-item {
  font-family: $font3;
  font-size: 12px;
  font-weight: 900;
  line-height: 15px;
}

.skills-label {
  font-family: $font3;
  font-weight: 500;
  font-size: 24px;
}

.skill-select {
  width: 5vw;
}

.skill-select-label {
  margin-right: 1rem;
  width: 5vw;
}

.tournament {
  font-size: 28px;
  font-weight: 900;
  width: 40%;
}